<!DOCTYPE html>
<html>
<head>
	
	<link rel="stylesheet" href="./styles/colors.css">
	<link rel="stylesheet" href="./styles/global.css">
	
	<link rel="apple-touch-icon" sizes="180x180" href="https://zachmanson.com/icons/apple-touch-icon.png">
	<link rel="icon" type="image/png" sizes="32x32" href="https://zachmanson.com/icons/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="https://zachmanson.com/icons/favicon-16x16.png">
	<link rel="manifest" href="https://zachmanson.com/icons/site.webmanifest">
	<link rel="mask-icon" href="https://zachmanson.com/icons/safari-pinned-tab.svg" color="#bd93f9">
	<link rel="shortcut icon" href="https://zachmanson.com/icons/favicon.ico">
	<meta name="msapplication-TileColor" content="#603cba">
	<meta name="msapplication-config" content="https://zachmanson.com/icons/browserconfig.xml">
	<meta name="theme-color" content="#ffffff">
	
	<meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0;"> 
	<meta charset="UTF-8">
	
	<title>WA COVID-19 Tracker</title>
</head>

<body>
	<header><h1 onclick="toggleDarkMode()">Local COVID-19 Cases in Western Australia</h1></header>
	<p class="infotext">
		Data source: <a href="https://ww2.health.wa.gov.au/News/Media-releases-listing-page">WA Department of Health Media Releases</a><br>
		Source code: <a href="https://github.com/pavo-etc/wa-covid-tracker">GitHub</a><br>
		Last check: {{update_time}}
	</p>	
	<img id="graph" src="./images/local_cases.png">
	<table>
		<tr>
			{% for heading in table_headings %}
			<th>{{heading}}</th>
			{% endfor %}
		</tr>
		{% for record in table_records %}
		<tr>
			{% for attribute in record%}
			<td>{{attribute}}</td>
			{% endfor %}
		</tr>
		{% endfor %}
	</table>
    <footer>
        <p>
            Made with ❤️ by <a href="https://zachmanson.com">Zach Manson</a><br>
        </p>
    </footer>
</body>
<script>
function toggleDarkMode() {
	let element = document.body;
	element.classList.toggle("dark-mode");
	let graph = document.getElementById("graph");
	if (graph.src.match("./images/local_cases.png")) {
		graph.src = "./images/local_cases_dark.png";
	} else {
		graph.src = "./images/local_cases.png";
	}
}
</script>