.codeblock {
    border: 2px solid var(--purple);
    border-radius: 5px;
    padding: 1rem;
    overflow-x: auto;
}

.codeblock .keyword {
    color: var(--pink);
}

.codeblock .string {
    color: var(--yellow);
}

.codeblock .comment {
    color: var(--dark-blue);
}