/*Its a simplified version of Dracula*/
:root {
    --background: #282A36;
    --grey: #44475a;
    --white: #f8f8f2;
    --dark-blue: #6272a4;
    --cyan: #8be9fd;
    --green: #50fa7b;
    --orange: #ffb86c;
    --pink: #ff79c6;
    --purple: #bd93f9;
    --red: #ff5555;
    --yellow: #f1fa8c;
}