body {
    background-color: white;
    color: black;
    margin: 0 1rem;
    font-family: sans-serif;
    text-align: center;
    line-height: 1.4;
}

img {
    max-width: 100%;
    max-height: 40rem;
    object-fit: contain;
}

header {
    max-width: 50rem;
    margin: auto;
}

.infotext {
    max-width: 40rem;
    margin: auto;
    text-align: left;
}

footer {
    font-weight: lighter;
    margin-top: 5rem;
    text-align: center;
}

table {
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;
}

th,td {
    text-align: center;
    width: 10rem;
}

tr:nth-child(even) {
    background-color: lightgrey;
}

a, a:visited {
    color: #0000FF;
}

.dark-mode {
    background-color: var(--background);
    color: var(--white);
}

.dark-mode a {
    color: var(--purple);
    text-decoration: underline;
    text-decoration-color: transparent;
    transition: all 0.1s ease-in;
}

.dark-mode a:hover {
    text-decoration-color: var(--purple);
}

.dark-mode a:active {
    color: var(--white);
    text-decoration-color: var(--white);
    transition: all 0.0s ease-in;
}

.dark-mode tr:nth-child(even) {
    background-color: var(--grey);
}

.dark-mode ::selection {
    background-color: var(--grey);
}
